openapi: 3.0.3
info:
  title: ROOT.war
  version: '1.0'
servers:
  - url: /
paths:
  /api/v1/login:
    post:
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credentials'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResultDTO'
        '403':
          description: invalid credentials
  /api/v1/orders:
    post:
      operationId: placeOrder
      parameters:
        - name: session-id
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purchase'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Payment information invalid
        '401':
          description: Unauthorized for operation
        '403':
          description: Not Authenticated
        '404':
          description: unknown carrier id
  /playlist-api/v1/playlists/{username}:
    get:
      summary: Get the Playlist of user
      operationId: getPlaylist
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayableSongDTO'
        '401':
          description: Unauthorized
        '403':
          description: Not Authenticated
        '404':
          description: User not found
  /playlist-api/v1/songs/{songId}:
    get:
      description: Responds with the MP3 of the song
      operationId: getSong
      parameters:
        - name: songId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: OK
        '404':
          description: When the song cannot be found.
        '500':
          description: if the method is not yet implemented
  /api/v1/products:
    get:
      operationId: searchProducts
      parameters:
        - name: search
          in: query
          schema:
            default: ''
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductOverviewDTO'
  /api/v1/products/{id}:
    get:
      operationId: getProduct
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetailsDTO'
        '401':
          description: Unauthorized for operation
        '403':
          description: Not Authenticated
        '404':
          description: Unknown product id
components:
  schemas:
    Credentials:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
    LoginResultDTO:
      type: object
      properties:
        sessionId:
          type: string
        employeeId:
          type: string
        username:
          type: string
        roles:
          type: array
          items:
            type: string
        topicNames:
          type: array
          items:
            type: string
    OrderItem:
      type: object
      properties:
        carrierId:
          format: uuid
          pattern: '[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}'
          type: string
        amount:
          format: int32
          type: integer
    PaymentInformation:
      type: object
      properties:
        paymentMethod:
          type: string
        creditCardType:
          type: string
        creditCardNumber:
          type: string
        cvc:
          type: string
    ProductDetailsDTO:
      type: object
      properties:
        productId:
          format: uuid
          pattern: '[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}'
          type: string
        name:
          type: string
        artistName:
          type: string
        releaseYear:
          type: string
        labelName:
          type: string
        genre:
          type: string
        duration:
          type: string
        songs:
          type: array
          items:
            $ref: '#/components/schemas/SongDTO'
        soundCarriers:
          type: array
          items:
            $ref: '#/components/schemas/SoundCarrierDTO'
    ProductOverviewDTO:
      type: object
      properties:
        productId:
          format: uuid
          pattern: '[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}'
          type: string
        name:
          type: string
        artistName:
          type: string
        releaseYear:
          type: string
        genre:
          type: string
        smallestPrice:
          format: float
          type: number
    Purchase:
      type: object
      properties:
        orderItems:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        paymentInformation:
          $ref: '#/components/schemas/PaymentInformation'
    PlayableSongDTO:
      type: object
      properties:
        songId:
          $ref: '#/components/schemas/UUID'
        albumName:
          type: string
        title:
          type: string
        duration:
          type: string
        filePath:
          type: string
    SongDTO:
      type: object
      properties:
        title:
          type: string
        duration:
          type: string
    SoundCarrierDTO:
      type: object
      properties:
        soundCarrierId:
          format: uuid
          pattern: '[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}'
          type: string
        soundCarrierName:
          type: string
        amountAvailable:
          format: int32
          type: integer
        pricePerCarrier:
          format: float
          type: number
        location:
          type: string
    UUID:
      format : uuid
      pattern : '[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}'
      type : string
