# None of these variables are really needed for local development, as default-values are chosen for development

# Variables in .env-File with example Values
OUTWARD_PORT=80 # The port on which the website should be reachable. Defaults to 80 if unset
