
.credential-card-wrapper {
    display: flex;
    justify-content: center;
}

.credential-card {
    margin: 50px;
    min-width: 400px;
}

.credential-form {
    margin-top: 20px;
}

.spinner-wrapper > h3 {

    text-align: center;
}
.spinner-wrapper {
    margin: 20px;
}

.error-msg {
    color: red;
    font-weight: bold;
}