table, th, td {
    border: 1px solid black;
}

.productListContainer {
    margin-top: 2em;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.7);
}

.popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 22.5%;
    margin: auto;
    color: white;
    border: 2px solid rgb(194, 127, 0);
}

.header {
    background: #424242;
}

.content {
    background: #616161;
}