.start-page-wrapper {
    padding: 100px;
}

.link-card {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px;
    max-width: 220px;
    border-radius: 20%;
}

.greeting {
    text-align: center;
    font-weight: bolder;
    font-size: 100px;
}