/********************************************************************************/
/* DEFAULT VALUES                                                               */
/********************************************************************************/
* {
  /*TODO: !!! default value verwednungen überall prüfen*/

  --color-primary: rgb(194, 127, 0);
  --color-success: green;
  --color-alert: red;

  --color-text-1: #fafafa;
  --color-text-2: #bebebe;
  --color-btn-text: #fafafa;

  --color-bg-1: #282828;
  --color-bg-2: #464646;
  --color-bg-3: #646464;
  --color-bg-hover: rgba(194, 127, 0, 0.15);
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}

.header {
  height: 10%;
  background-color: var(--color-bg-1);
}

.content {
  height: 90%;
  background-color: var(--color-bg-3);
  overflow-y: scroll;
  overflow-x: hidden;
  color: var(--color-text-1);
}
/********************************************************************************/
/* HEADER                                                                       */
/********************************************************************************/
.header-logo {
  height: 100%;
  /*min-height: 40px;*/
  width: 200px;
  background-image: url("resources/logo_2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

.nav li {
  padding: 0 0 3px 0;
}

.nav li:hover {
  padding: 0;
  border: solid var(--color-primary);
  border-width: 0 0 3px 0;
}

.dropdown-menu {
  background-color: transparent !important;
  border: none !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  right: 0;
  min-width: fit-content !important;
}

.dropdown-item {
  background-color: transparent !important;
  color: var(--color-text-1) !important;

}
.dropdown-menu-custom {
  border-radius:.25rem;
  background-color: var(--color-bg-2);
}
/********************************************************************************/
/* CONTENT                                                                      */
/********************************************************************************/

/********************************************************************************/
/* SCROLL BAR                                                                   */
/********************************************************************************/
::-webkit-scrollbar{
  width: 20px;
}

::-webkit-scrollbar-track{
  background: transparent;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-4);
  min-height: 75px;
  border-width: 5px 6px 5px 6px !important;
  border: solid transparent;
  background-clip: padding-box !important;
}
/********************************************************************************/
/* ELEMENTS                                                                     */
/********************************************************************************/
.btn:focus, .form-control:focus, .btn-close:focus {
  outline: none !important;
  box-shadow: none !important;
}



.spinner-border {
  color: var(--color-text-1);
}


.testtt {
  z-index: 100;
  animation: testanimation 1s ease-out;
}

@keyframes testanimation {
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
  100% {transform: translate(-50%, -50%);}
}


@-webkit-keyframes swing
{
  15%
  {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30%
  {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50%
  {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65%
  {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80%
  {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100%
  {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing
{
  15%
  {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30%
  {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50%
  {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65%
  {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80%
  {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100%
  {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


@keyframes fadeInDown{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

@-webkit-keyframes fadeInDown{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}


.test {
  animation: try 6s ease ;
  opacity: 0;
}

@keyframes try {
  0% {opacity: 1; transform: scale(1)}
  5% {transform: scale(1.05);}
  10% {transform: scale(1);}
  90% {opacity: 1}
  100% {opacity: 0}
}


input:focus {
  border-color: var(--color-primary) !important;
}

.error {
  color: red;
}



.modal-outer {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.75);
}


.modal-content {
  background-color: var(--color-bg-3);
  color: var(--color-text-1);
  border: 2px solid var(--color-primary);
}

.modal-header, .modal-footer {
  border: 0;
}

.modal-footer {
  padding-top: 0;
}




.login-input::placeholder {
  color: var(--color-text-2);
}

.login-input {
  background-color: transparent !important;
  color: var(--color-text-1) !important;
  border-width: 0 0 3px 0;
  border-radius: 0;
  transition: none;
}

.login-input:focus {
  border: solid var(--color-primary) !important;
  border-width: 0 0 3px 0 !important;
}


.tableContainer {
  overflow-y: auto;
  overflow-x: hidden;
}
table, .table {
  margin: 0;
  background-color: var(--color-bg-2);
  color: var(--color-text-1);
  border-collapse: collapse;
  overflow-y: scroll;
  overflow-x: hidden;
}
 thead th {
  position: sticky;
  top: 0;
   background-color: var(--color-bg-2) !important;
}

tbody tr:hover {
  background-color: var(--color-bg-hover);
}



.form-control, .form-select {
  padding: 0.15rem 0.4rem !important;
}
