/********************************************************************************/
/* DEFAULT VALUES                                                               */
/********************************************************************************/
* {
  --color-primary: rgb(194, 127, 0);

  --color-bg-1: #282828;
  --color-bg-2: #373737;
  --color-bg-3: #464646;
  --color-bg-4: #646464;

  --color-text-1: #fafafa;
  --color-text-2: #bebebe;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}
/********************************************************************************/
/* HEADER                                                                       */
/********************************************************************************/
.header {
  background-color: var(--color-bg-2);
  color: var(--color-text-1);
  height: 10%;
  padding: 25px 0 25px 0;
}

.header-logo {
  height: 100%;
  /*min-height: 40px;*/
  width: 200px;
  background-image: url("resources/logo_2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

.nav li {
  padding: 0 0 3px 0;
}

.nav li:hover {
  padding: 0;
  border: solid var(--color-primary);
  border-width: 0 0 3px 0;
}

.dropdown-menu {
  background-color: transparent !important;
  border: none !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  right: 0;
  min-width: fit-content !important;
}

.dropdown-item {
  background-color: transparent !important;
  color: var(--color-text-1) !important;

}

.dropdown-menu-custom {
  border-radius:.25rem;
  background-color: var(--color-bg-4);
}
/********************************************************************************/
/* CONTENT                                                                      */
/********************************************************************************/
.content {
  /*background-color: var(--color-bg-3);*/
  background-color: lightgrey;
  position: relative;
  height: 90%;
  overflow: hidden;
}
/********************************************************************************/
/* SCROLL BAR                                                                   */
/********************************************************************************/
::-webkit-scrollbar{
  width: 20px;
}

::-webkit-scrollbar-track{
  background: transparent;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-width: 5px 6px 5px 6px !important;
  border: solid transparent;
  background-clip: padding-box !important;
}

/* TODO: change colors !!!*/
::-webkit-scrollbar-thumb:hover {
  background: darkorange;
}

::-webkit-scrollbar-thumb:active {
  background: orangered;
}
/********************************************************************************/
/* ELEMENTS                                                                     */
/********************************************************************************/
.btn:focus, .form-control:focus, .btn-close:focus {
  outline: none !important;
  box-shadow: none !important;
}

input:focus {
  border-color: red !important;
}

.test {
  background-color: red;

}



.tableContainer {
  overflow-y: scroll;
  overflow-x: hidden;
}
table, .table {
  margin: 0;
  border-collapse: collapse;
  overflow-y: scroll;
  overflow-x: hidden;
}
 thead th {
  position: sticky;
  top: 0;
}

.modal-content {
   background-color: green;
}

