/********************************************************************************/
/* DEFAULT VALUES                                                               */
/********************************************************************************/
* {
  --color-primary: rgb(194, 127, 0);
  --value-primary: 194, 127, 0;
  --color-success: green;
  --value-success: 0, 128, 0;
  --color-alert: red;
  --value-alert: 255, 0, 0;

  --color-text-1: #fafafa;
  --color-text-2: #bebebe;
  --color-btn-text: #fafafa;
  --value-btn-hover: 0.85;
  --value-btn-acitve: 0.75;

  --color-bg-1: #373737;
  --color-bg-2: #464646;
  --color-bg-3: #646464;
  --color-bg-hover: rgba(194, 127, 0, 0.15);
}
html, body, #root {
  height: 100%;
  overflow: hidden;
}

.header {
  height: 10%;
  min-height: 60px;
  background-color: var(--color-bg-1);
}

.content {
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  color: var(--color-text-1);
  background-color: var(--color-bg-2);
}
/********************************************************************************/
/* HEADER                                                                       */
/********************************************************************************/
.header-logo {
  height: 60%;
  width: 25%;
  max-width: 200px;
  background-image: url("resources/logo_2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

.nav-link {
  color: var(--color-text-1) !important;
}

.nav-link:hover {
  cursor: pointer;
}

.nav li {
  padding: 0 0 3px 0;
}

.nav li:hover {
  padding: 0;
  border: solid var(--color-primary);
  border-width: 0 0 3px 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
  right: 0;
  min-width: fit-content !important;
}

.dropdown-menu {
  background-color: transparent !important;
  border: none !important;
}

.dropdown-menu-custom {
  border-radius: .25rem;
  background-color: var(--color-bg-3);
}

.dropdown-item {
  background-color: transparent !important;
  color: var(--color-text-1) !important;
}


.error {
  color: var(--color-alert);
}



.grow-animation {
  animation: grow 0.75s ease-out;
}

@keyframes grow {
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
  100% {transform: translate(-50%, -50%);}
}

.btn-p {
  color: var(--color-btn-text) !important;
  background-color: var(--color-primary) !important;
}

.btn-p:hover {
  background-color: rgba(var(--value-primary), var(--value-btn-hover)) !important;
}

.btn-p:active {
  background-color: rgba(var(--value-primary), var(--value-btn-acitve)) !important;
}


.btn-s {
  color: var(--color-btn-text) !important;
  background-color: var(--color-success) !important;
}

.btn-s:hover {
  background-color: rgba(var(--value-success), var(--value-btn-hover)) !important;
}

.btn-s:active {
  background-color: rgba(var(--value-success), var(--value-btn-acitve)) !important;
}






.spinner-border {
  color: var(--color-text-1) !important;
}



input, select {
  color: var(--color-text-1) !important;
  background-color: var(--color-bg-3) !important;
}

input:focus, select:focus {
  border-color: var(--color-primary) !important;
}

input::placeholder, select::placeholder {
  color: var(--color-text-2) !important;
}



.table-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
}

.table {
  margin: 0;
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
  border-collapse: collapse;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table thead th {
  top: 0;
  position: sticky;
  background-color: var(--color-bg-1) !important;
}

.table tbody tr:hover {
  background-color: var(--color-bg-hover);
}



.btn:focus, .btn-close:focus, input:focus, select:focus {
  outline: none !important;
  box-shadow: none !important;
}





.modal-body {
  background-color: var(--color-bg-1);
}


.small-control {
  padding: 0.15rem 0.4rem !important;
}



.modal-outer {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.75);
}


.modal-content {
  background-color: var(--color-bg-3);
  color: var(--color-text-1);
  border: 2px solid var(--color-primary);
}

.modal-header, .modal-footer {
  border: 0;
}





.login-input::placeholder {
  color: var(--color-text-2);
}

.login-input {
  background-color: transparent !important;
  color: var(--color-text-1) !important;
  border-width: 0 0 3px 0;
  border-radius: 0;
  transition: none;
}

.login-input:focus {
  border: solid var(--color-primary) !important;
  border-width: 0 0 3px 0 !important;
}





.breath-animation {
  animation: breath 6s ease ;
  opacity: 0;
}

@keyframes breath {
  0% {opacity: 1; transform: scale(1)}
  5% {transform: scale(1.05);}
  10% {transform: scale(1);}
  90% {opacity: 1}
  100% {opacity: 0}
}


/********************************************************************************/
/********************************************************************************/
/********************************************************************************/





/********************************************************************************/
/* CONTENT                                                                      */
/********************************************************************************/

/********************************************************************************/
/* SCROLL BAR                                                                   */
/********************************************************************************/
::-webkit-scrollbar{
  width: 20px;
}

::-webkit-scrollbar-track{
  background: transparent;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  min-height: 75px;
  border-width: 5px 6px 5px 6px !important;
  border: solid transparent;
  background-clip: padding-box !important;
}
/********************************************************************************/
/* ELEMENTS                                                                     */
/********************************************************************************/