tr.hoverable:hover {
    background-color: grey;
}

table, td, th {
    border: 0px;
}
/*table td + td, th {*/
/*    border-left: 3px solid darkgray;*/
/*}*/

th {
    border-bottom: 3px solid black;
}